# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
apps/frontend/dist/
apps/backend/dist/
packages/*/dist/

# env
.env
.env.local
.env.*.local

# logs
.logs/
*.log
npm-debug.log*
pnpm-debug.log*

# prisma
apps/backend/prisma/*.db

# editors / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# testing / coverage
coverage/

# misc
.turbo/

*storybook.log
storybook-static
